*,
*::after,
*::before {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	display: block;
}

ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: sans-serif;
	background-image: url(../assets/images/Embalaje-y-transporte-de-ladrillos.jpeg);
	margin: 0;
	/* background-image: url(../assets/images/sleep-cat.jpeg); */
}
.containerSecretWord {
	display: flex;
}
h1 {
	text-align: center;
	color: rgb(255, 242, 239);
	font-size: 100px;
	box-shadow: 10px 1px 10px 10px rgb(255, 192, 174);
	text-shadow: 5px 5px 5px rgb(255, 192, 174);
}
.buttonsSize {
	width: 150px;
	height: 30px;
	border-radius: 5px;
}
.cell {
	display: flex;
	border-bottom: 4px solid rgb(255, 255, 255);
	width: 50px;
	height: 50px;
	margin: 5px;
	font-size: xx-large;
	align-items: center;
	justify-content: center;
}
.containerNewWord {
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.containerSecretWord {
	margin-top: 80px;
	border-radius: 10px;
	color: white;
	background-color: rgba(0, 0, 0, 0.44);
	border: solid rgb(255, 192, 174) 3px;
	display: flex;
	justify-content: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.containerError {
	display: flex;
	width: 80%;
	gap: 10px;
	margin-left: auto;
	margin-right: auto;
}
.errorLetters {
	height: 60px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.44);
	border: solid rgb(255, 192, 174) 3px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	font-size: 40px;
	margin-top: 20px;
	color: rgb(255, 255, 255);
}
.containerCounterAttempts {
	height: 60px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.44);
	border: solid rgb(255, 192, 174) 3px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	font-size: xx-large;
	margin-top: 20px;
	color: rgb(255, 255, 255);
}
.toy {
	background-image: url(..//assets/images/fondo.png);
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 585px;
	height: 354px;
	position: relative;
}
.palo {
	position: absolute;
	bottom: 0px;
	left: -30px;
}

.paloSoga {
	width: 1000px;
	height: 100px;
	position: absolute;
	top: 10px;
	left: -88px;
	z-index: 1;
}
.soga {
	width: 1000px;
	height: 30px;
	left: -20px;
	top: 20px;
	z-index: 0;
	position: absolute;
}
.cabeza {
	width: 1000px;
	height: 25px;
	border-radius: 50%;
	position: absolute;
	left: -20px;
	top: 17px;
	z-index: 2;
}
.cuerpo {
	width: 1000px;
	height: 40px;
	position: absolute;
	left: -20px;
	top: 20px;
}
.brazos {
	width: 1000px;
	height: 5px;
	position: absolute;
	left: -20px;
	top: 30px;
}
.piernas {
	position: absolute;
	left: -20px;
	top: 20px;
}
.pierna1 {
	background-color: rgb(255, 192, 174);
	width: 25px;
	height: 5px;
	position: absolute;
	left: 120px;
	top: 146px;
	transform: rotate(45deg);
}

.pierna2 {
	background-color: rgb(255, 192, 174);
	width: 25px;
	height: 5px;
	position: absolute;
	left: 105px;
	top: 146px;
	transform: rotate(135deg);
}
.hide {
	display: none;
}
.red {
	color: red;
}
.green {
	color: green;
}
